/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*------------------------------------*/
:root {
  --gutter: 30px;
  --color-primary: #1C2025;
  --color-secondary: #434D5B;
  --color-tertiary: #6B7A90;
  --color-link: #0059B2;
  --page-max-width: 768px;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #f8f8f8;
  margin: 0;
  padding: 0;
  color: var(--color-secondary);
  font: normal normal 13px Open Sans, sans-serif;
  text-align: left;
}
header {
  padding-top: 30px;
  padding-bottom: 30px;
  background: white;
}
.header {
  max-width: var(--page-max-width);
  margin-left: auto;
  margin-right: auto;
}
.bio {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 400px;
  font-size: 0.875rem;
  margin-left: var(--gutter);
  margin-right: var(--gutter); 
}
.bio-avatar {
  border-radius: 50%;
  width: 100px;
}
.bio-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bio-text h2{
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 0.2rem;
  color: var(--color-primary);
}
.tags {
  margin-top: 30px;
  overflow: auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter); 
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 16px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.tags a {
  color: var(--color-link);
  text-transform: capitalize;
  text-decoration: none;
  font-weight: bold;
  display: block;
  border-bottom: 2px solid white;
}
.tags a.active {
  border-bottom: 2px solid var(--color-link);
}
.tags::-webkit-scrollbar {
  display: none;
}
@media screen and (min-width: 767px) {
  .tags {
    display: flex;
    flex-flow: row wrap;
  }
  .tags a {
    flex-grow: 0;
  }
  .tags a.active {
    border-bottom: 2px solid var(--color-link);
  }
}

/*------------------------------------*/

.content {
  padding-bottom: 50px;
  max-width: var(--page-max-width);
  margin-left: auto;
  margin-right: auto;
}
.excerpt {
  margin-top: 50px;
}
.post-meta {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 12px;
  font-size: 0.875rem;
  color: var(--color-tertiary);
  padding-left: var(--gutter);
  padding-right: var(--gutter); 
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
.meta * {
  flex-shrink: 0;
}
.tag {
  text-transform: capitalize;
}
.title {
  margin-top: 8px;
  margin-bottom: 14px;
  color: var(--color-primary);
  text-decoration: none;
  display: inline-block;
  margin-left: var(--gutter);
  margin-right: var(--gutter); 
}
.excerpt p {
  margin-left: var(--gutter);
  margin-right: var(--gutter); 
}
.excerpt p::after {
  content: '...';
}

/*------------------------------------*/
footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background: white;
}
.footer {
  max-width: var(--page-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter); 
}
footer a {
  color: var(--color-link);
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}
.back-to-top {
  display: none;
  text-decoration: none;
  color: var(--color-link);
}
html:not([data-scroll='0']) .back-to-top {
  display: block;
  position: fixed;
  bottom: 1.2rem;
  right: 0.8rem;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background: white;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}
/* h1 {
  font-family: 'Playfair Display';
  font-size: 1.4375rem;
  font-weight: 700;
  line-height: 1.5;
}
h2 {
  font-family: 'Playfair Display';
  font-size: 1.15rem;
  font-weight: 700;
  line-height: 1.3;
}
h3 {
  font-family: 'Playfair Display';
  font-size: 1.0625rem;
  font-weight: 700;
  line-height: 1.3;
}
blockquote {
  font-size: 1.0625rem;
}
a {
  color: rgb(7, 117, 154);
  text-decoration: none;
  background-color: transparent;
}

nav > div,
header,
.content,
footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}

nav {
  width: 100%;
  top: 0px;
  z-index: 1000;
}
nav > div {
  display: flex;
  gap: 0.6rem;
  padding: 0.3rem 0;
}

header {
  margin-top: 3rem;
  margin-bottom: 3.2rem;
}

.content {
  padding: 1.6rem;
  border-radius: 4px;
  background: white;
}

footer {
  font-size: small;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.excerpt + .excerpt {
  margin-top: 2.6rem;
}

.excerpt h2 {
  margin-bottom: 0.2rem;
}

.excerpt p:first-of-type {
  margin-bottom: 0.6rem;
  font-weight: bold;
}

.excerpt h2 {
  margin: -1 0 0.8rem 0;
  font-size: -1.875rem;
  display: flex;
  gap: 5px;
}

.excerpt p {
  margin: -1;
}

.tag-list {
  display: flex;
  gap: 12px;
  flex-flow: row wrap;
}
.tag {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(228, 243, 248);
  color: rgb(43, 70, 82);
  border-radius: 6px;
}
.tag.active {
  background: white;
}
.tag:hover {
  background: white;
}

.i-am-top {
  height: 0px;
}
html:not([data-scroll='0']) .i-am-top {
  height: 32px;
}
html:not([data-scroll='0']) nav {
  position: fixed;
  background: white;
  transition: background 0.2s ease-in-out;
}
.header {
  margin-top: 2.2rem;
  margin-bottom: 2.2rem;
  padding: 0 1.6rem;
}
.footer {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}
.title {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 0;
}
.subtitle {
  margin: 0;
  font-family: Lato;
  font-size: 0.875rem;
  font-weight: 400;
}
html:not([data-scroll='0']) .back-to-top {
  display: block;
  position: fixed;
  bottom: 1.2rem;
  right: 0.8rem;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background: white;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}
.back-to-top {
  display: none;
}
.hidden {
  display: none;
}

@media screen and (max-width: 1024px) {
  nav > div,
  header,
  .content,
  footer {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
  }

  .content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
} */;
