:root {
  --font-size-base: 16px;
  --font-family-base: 'Roboto', sans-serif;
  --font-family-heading: 'Montserrat', sans-serif;
  --color-text: #3b3c4a;
  --color-heading: #181a2a;
  --color-link: #4b6bfb;
  --color-muted: #97989f;
  --color-bg-light: white;
  --color-bg-dark: #141624;
  --color-text-dark: #97989f;
  --color-heading-dark: #ffffff;
}

html {
  font-size: var(--font-size-base); /* 1rem = 16px */
}

body {
  font-family: var(--font-family-base);
  color: var(--color-text);
  line-height: 1.8; /* Increased line height for better readability */
  background-color: var(--color-bg-light); /* Light gray background for light mode */
  transition: background-color 0.3s, color 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
  color: var(--color-heading);
  line-height: 1.1;
  margin-top: 1.8rem; 
  margin-bottom: 0.5rem; 
}

h1 {
  font-weight: 700;
  font-size: 2.25rem; /* 36px */
}

h2 {
  font-weight: 700;
  font-size: 1.875rem; /* 30px */
}

h3 {
  font-weight: 700;
  font-size: 1.5rem; /* 24px */
}

h4,
h5,
h6 {
  font-weight: 600;
  font-size: 1.25rem; /* 20px */
  color: var(--color-muted);
}

/* Links */
a {
  font-family: var(--font-family-base);
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0.9rem 0;
}

pre {
  margin: 2rem 0;
  visibility: hidden;
}

div[data-lang] {
  margin: 2rem 0;
}

/* Captions and Small Text */
small,
.caption {
  font-family: var(--font-family-base);
  font-weight: 300;
  font-size: 0.75rem; /* 12px */
  color: var(--color-muted);
  line-height: 1.4;
}

.container {
  max-width: 600px;
  padding: 0 1.6rem;
}

.site-name {
  font-family: Bangers, sans-serif;
  font-size: 2rem;
  display: flex;
  align-items: baseline;
  gap: 8px;
  margin: 3.8rem 0 2.8rem;
}

.site-name img {
  width: 40px;
}

.sitename img:last-of-type {
  display: none;
}

.list-of-articles {
  margin-bottom: 3.8rem;
}

.list-of-articles > li {
  margin-bottom: 1.8rem;
}

.list-of-articles small {
  font-size: 1rem;
  font-weight: 500;
}

.list-of-articles h3 {
  margin-bottom: 0.3rem;
}

.article-header {
  margin: 3.8rem 0 2.8rem;
}

.article-header small {
  font-size: 1rem;
  font-weight: 500;
}

.fira {font: 16px 'Fira Code', monospace !important}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  .site-name img:first-of-type {
    display: none;
  }

  .site-name img:last-of-type {
    display: block;
  }
}

@media (prefers-color-scheme: light) {
  .site-name img:first-of-type {
    display: block;
  }

  .site-name img:last-of-type {
    display: none;
  }
}

