<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coding Addict - Trinh Nguyen</title>
    <description>Trinh Nguyen's blog</description>
  </head>
  <style>
    html {
      margin: 0;
      padding: 0;
    }
    body {
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      line-height: 1.1;
      margin: 0;
      padding: 0 1.2em 1.2em 1.2em;
      background-color: #fff;
      color: #333;
    }
  </style>
  <body>
    <h1 style="margin-bottom: 1em">Coding Addict</h1>
    <% _.forEach(listOfArticleMetadata, function(article) { %>
    <article style="margin-bottom: 2.5em">
      <a href="<%- article.slug %>" title="<%- article.title %>">
        <h2 class="article-title"><%- article.title %></h2>
      </a>
      <p><%- article.date %></p>
    </article>
    <% }); %>
  </body>
</html>
