<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coding Addict - Trinh Nguyen</title>
  </head>
  <body>
    <h1 style="margin-bottom: 1em">Coding Addict</h1>
    <% _.forEach(listOfArticleMetadata, function(article) { %>
    <article style="margin-bottom: 2.5em">
      <a href="<%- article.slug %>" title="<%- article.title %>">
        <h2 class="article-title"><%- article.title %></h2>
      </a>
      <p>
        <%- article.date %>
        <span>|</span>
        <% _.forEach(article.tags, function(tag, i) { %>
        <a href="#"> <%- `${tag}${i < article.tags.length - 1 ? ',' : ''}` %> </a>
        <% }); %>
      </p>
    </article>
    <% }); %>
  </body>
</html>
