<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= article.title %> - Trinh Nguyen</title>
    <description><%= article.title %></description>
    <style>
      html {
        margin: 0;
        padding: 0;
      }
      body {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        line-height: 1.3;
        margin: 0;
        padding: 0 1.2em 1.2em 1.2em;
        background-color: #fff;
        color: #333;
      }
      pre {
        overflow: auto;
        background: #f6f8fa;
        color: rgb(57, 58, 52);
        padding: 20px;
        font-family: 'Courier New', monospace;
      }
    </style>
  </head>
  <body>
    <article>
      <h1><%= article.title %></h1>
      <p style="margin-bottom: 2em"><%- article.date %></p>
      <%= article.content %>
    </article>
    <div style="margin-top: 2em">
      <a href="/" title="go back">Go back</a>
    </div>
  </body>
</html>
