<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bug Bites - Trinh Nguyen - Computer Lover - <%= article.title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:wght@700&family=Roboto:wght@300;400&family=Fira+Code:wght@400&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" media="all" id="light-theme-code" href="https://unpkg.com/@speed-highlight/core/dist/themes/github-light.css" />
    <link rel="stylesheet" media="all" id="dark-theme-code" href="https://unpkg.com/@speed-highlight/core/dist/themes/github-dim.css" />
    <script>
      if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.getElementById('dark-theme-code').media = 'print';
      } else {
        document.getElementById('light-theme-code').media = 'print';
      }
    </script>
  </head>
  <body>
    <section class="container">
      <header class="article-header">
        <h2><%= article.title %></h2>
        <small><%- article.date %></small>
      </header>
      <article class="article-content"><%= article.content %></article>
    </section>
    <script type="module">
      import { highlightElement } from 'https://unpkg.com/@speed-highlight/core/dist/index.js';
      Array.from(document.querySelectorAll('code[class*="language-"]')).map((elm) => {
        let lang = elm.className.match(/language-([\w-]+)/)?.[1];
        lang = lang === 'javascript' ? 'js' : lang;
        const div = document.createElement('div');
        div.innerHTML = elm.innerHTML;
        highlightElement(div, lang);
        div.classList.add('fira');
        const pre = elm.parentElement;
        pre.parentElement.insertBefore(div, pre);
        pre.remove();
      });
    </script>
  </body>
</html>
