<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "Article",
		"headline": "{{ article.title }}",
		"datePublished": "{{ article.date | date('iso') }}",
		"dateModified": "{{ article.date | date('iso') }}",
		"description": "{{ article.excerpt }}",
		"mainEntityOfPage": {
			"@type": "WebPage",
			"@id": "https://vespaiach.com/{{ article.slug }}.html"
		},
		"author": {% include 'author.html' %},
		"publisher": {
			"@type": "Organization",
			"name": "Nguyen-Blog"
		},
		"keywords": "{{ article.tags | join }}",
		"articleBody": "{{ article.content }}",
		"sameAs": [
			"{{ article.github }}"
		]
	}
</script>