<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Fonts Import -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="/main.css" />
    {% block head %}
    <title>{% block title %}{% endblock %} - Nguyen-Blog</title>
    {% endblock %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2JQSXK6HX2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'G-2JQSXK6HX2');
    </script>
  </head>

  <body>
    <section class="max-w-3xl mx-auto px-5 mb-6">
      {% block header %}
      <header class="sticky top-0 py-2 flex justify-end bg-orange-50 z-50">
        <ul class="font-sans flex gap-4 text-[11px] font-medium my-0! list-none!">
          <li><a href="/">POSTS</a></li>
          <li><a href="/about.html">ABOUT</a></li>
        </ul>
      </header>
      {% endblock %} {% block content %}{% endblock %}
    </section>
  </body>

</html>