<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Fonts Import -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Source+Sans+Pro:wght@300;400;600&family=JetBrains+Mono:wght@300;400;500;600&display=swap"
          rel="stylesheet">

    {% block head %}
    <link rel="stylesheet" href="/main.css" />
    <title>{% block title %}{% endblock %} - Nguyen-Blog</title>
    {% endblock %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2JQSXK6HX2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'G-2JQSXK6HX2');
    </script>
  </head>

  <body class="bg-white text-stone-950 font-sans font-medium leading-7 text-lg antialiased">
    <section class="max-w-4xl mx-auto px-5 mb-6">
      {% block header %}
      <header class="border-b border-stone-400 pb-3 mb-6 flex justify-end pt-5">
        <ul class="flex gap-4 font-heading text-sm">
          <li><a href="/" class="text-blue-600 hover:text-blue-900">posts</a></li>
          <li><a href="/about.html" class="text-blue-600 hover:text-blue-900">about</a></li>
        </ul>
      </header>
      {% endblock %} {% block content %}{% endblock %}
    </section>
  </body>

</html>