{% extends "base.html" %} {% block head %}
<title>Nguyen-Blog - Vespaiach</title>
{% endblock %} {% block content %}
<main>
  <ul class="space-y-6 list-none!">
    {% for item in articles %}
    <li data-tags="{{ item.tags | join(',') }}">
      <article>
        <h1 class="text-base! inline">
          <a href="/{{ item.slug }}.html" title="Read more: {{ item.title }}">{{ item.title }}.</a>
        </h1>
        &nbsp;
        <p class="inline">
          {{ item.excerpt }}
          <span class="sr-only">Publish on</span>
          <time datetime="{{ item.date }}" class="text-stone-600"> — {{ item.date | date }}</time>
        </p>
      </article>
    </li>
    {% endfor %}
  </ul>
</main>
{% include 'index-structured-data.html' %}
{% endblock %}