{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="/main.css" />
<title>Nguyen-Blog - Vespaiach</title>
{% endblock %} {% block content %}
<main class="mx-auto w-full py-6 min-h-dvh h-full flex flex-col justify-between">
  <div class="flex-1">
    <ul>
      {% for item in articles %}
      <li class="py-8" data-tags="{{ item.tags | join(',') }}">
        <article class="space-y-2 xl:grid xl:grid-cols-4 xl:items-baseline xl:space-y-0">
          <dl>
            <dt class="sr-only">Published on</dt>
            <dd class="text-base leading-6 font-medium text-gray-500 dark:text-gray-400">
              <time datetime="{{ item.date }}">{{ item.date | date }}</time>
            </dd>
          </dl>
          <div class="xl:col-span-3">
            <div class="space-y-4">
              <div>
                <h2 class="text-2xl leading-8 font-bold tracking-tight">
                  <a href="/{{ item.slug }}.html" class="text-gray-900 dark:text-gray-100" title="{{ item.title }}">{{
                    item.title }}</a>
                </h2>
                <div class="flex flex-wrap">
                  {% for tag in item.tags %}
                  <a data-taglink="true" class="text-primary-500 hover:text-primary-600 dark:hover:text-primary-400 mr-3 text-sm font-medium uppercase"
                    href="#">{{ tag }}</a>
                  {% endfor %}
                </div>
              </div>
              <div class="prose max-w-none text-gray-500 dark:text-gray-400">
                {{ item.excerpt | safe }}
              </div>
              <div class="text-base leading-6 font-medium">
                <a href="/{{ item.slug }}.html" title="Read more: {{ item.title }}"
                  class="text-primary-500 hover:text-primary-600 dark:hover:text-primary-400"
                  aria-label="Read more: {{ item.title }}">Read more →</a>
              </div>
            </div>
        </article>
      </li>
      {% endfor %}
    </ul>
  </div>
</main>
<div id="filter-by" class="flex items-center justify-center fixed -top-20 left-1/2 w-[320px] -translate-x-1/2 transition-all duration-300">
  <div class="text-gray-500 dark:text-gray-400 bg-cyan-300 px-4 py-2 rounded-full">
    Filtered by: <a id="selected-tags" class="text-primary-500 hover:text-primary-600 dark:hover:text-primary-400 mr-3 text-sm font-medium uppercase" href="#"></a>
  </div>
</div>
<script>
  const tags = [{{ tags.join(', ') | safe }}];
  console.log('Available tags:', tags);
  function clearTagFilter(event) {
    event.preventDefault();
    const items = document.querySelectorAll('li[data-tags]');
    items.forEach(item => { item.style.display = 'block'; });
    window.scrollTo({ top: 0, behavior: 'smooth' });
    document.getElementById('filter-by').classList.remove('top-0!');
  }

  function filterByTag(tag) {
    const items = document.querySelectorAll('li[data-tags]');
    items.forEach(item => {
      if (item.getAttribute('data-tags').includes(tag)) {
        item.style.display = 'block';
      } else {
        item.style.display = 'none';
      }
    });

    const selectedTags = document.getElementById('selected-tags');
    selectedTags.textContent = tag + ' X';
    document.getElementById('filter-by').classList.add('top-0!');
  }

  function handleTagClick(event) {
    event.preventDefault();
    filterByTag(event.target.textContent.trim());
    window.scrollTo({ top: 0, behavior: 'smooth' });
  }

  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('[data-taglink]').forEach(link => {
      link.addEventListener('click', handleTagClick);
    });
    document.getElementById('selected-tags').addEventListener('click', clearTagFilter);
    const urlParams = new URLSearchParams(window.location.search);
    const tag = urlParams.get('t');
    if (tags.indexOf(tag) > -1) {
      filterByTag(tag);
    }
  });
</script>
{% include 'index-structured-data.html' %}
{% endblock %}