{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="/main.css" />
<title>Nguyen-Blog - Vespaiach</title>
{% endblock %} {% block content %}
<main class="mx-auto px-5 max-w-4xl">
  <ul class="space-y-5">
    {% for item in articles %}
    <li data-tags="{{ item.tags | join(',') }}">
      <article>
        <a href="/{{ item.slug }}.html" title="Read more: {{ item.title }}" class="text-blue-600 hover:text-blue-900"><h6 class="inline">{{ item.title }}.</h6></a>
        &nbsp;
        <p class="inline">{{ item.excerpt }}<time datetime="{{ item.date }}" class="text-stone-500"> — {{ item.date | date }}</time></p>
      </article>
    </li>
    {% endfor %}
  </ul>
</main>
{% include 'index-structured-data.html' %}
{% endblock %}