<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "CollectionPage",
		"name": "Nguyen-Blog",
		"url": "https://vespaiach.com",
		"description": "A collection of recent articles.",
		"mainEntity": [
			{% for item in articles %}
			{% if loop.index0 > 0 %},{% endif %}
			{
				"@type": "Article",
				"headline": "{{ item.title }}",
				"datePublished": "{{ item.date | date('iso') }}",
				"dateModified": "{{ item.date | date('iso') }}",
				"description": "{{ item.excerpt }}",
				"mainEntityOfPage": {
					"@type": "WebPage",
					"@id": "https://vespaiach.com/{{ item.slug }}.html"
				},
				"keywords": "{{ item.tags | join }}",
				"author": {% include 'author.html' %},
				"publisher": {
					"@type": "Organization",
					"name": "Nguyen-Blog"
				}
			}
			{% endfor %}
		]
	}
	</script>
	