{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/main.css" />
<title>{{ article.title }} - Nguyen-Blog</title>
<meta name="description" content="{{ article.seoDescription }}" />
<meta name="keywords" content="{{ article.tags }}" />
{% endblock %}

{% block content %}
<main class="mb-10 mt-4">
  <article>
    <dl class="mb-3">
      <dt class="sr-only">Published on</dt>
      <dd class="overline-text text-stone-500"><time datetime="{{ article.date }}">{{ article.date | date('PPP') }}</time></dd>
    </dl>
    <h1>{{ article.title }}</h1>
    <div class="mt-5">{{ article.content | safe }}</div>
  </article>
</main>
{% include 'article-structured-data.html' %}
<script src="https://cdn.jsdelivr.net/gh/vespaiach/prismjs-loader@v1.0.1/dist/prismjs-loader.js"
        integrity="sha384-fQ8ZFrFH+LbIS8XcKxvpBaapsqCkg93NVlsLk2+xmNfkFHWwHsRfm3BcYORlbOhY" crossorigin="anonymous" defer
        class="dark:prism-okaidia prism-coy"></script>
{% endblock %}