<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>null Blog - Vespaiach</title>
	<link rel="stylesheet" href="/main.css">
</head>
<body class="prose prose-stone lg:prose-xl dark:prose-invert p-5">
	<h1>null</h1>
	<ul>
		<% _.forEach(posts, function(post) { %>
			<li class="flex flex-col py-1">
				<a href="/<%- post.slug %>.html" title="<%- post.title %>"><%- post.title %></a>
				<small><%- post.date %></small>
			</li>
		<% }); %>
	</ul>
</body>
</html>