<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trinh Nguyen's Blog - Vespaiach</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body class="prose prose-stone lg:prose-xl dark:prose-invert w-full p-0 m-0">
    <div class="max-w-3xl mx-auto w-full px-4 py-6">
      <h1 class="blogname">Trinh Nguyen&apos;s Blog</h1>
      <ul class="!pl-0">
        <% _.forEach(posts, function(post) { %>
        <li class="flex flex-col py-1">
          <a href="/<%- post.slug %>.html" title="<%- post.title %>"><%- post.title %></a>
          <small><%- post.date %></small>
        </li>
        <% }); %>
      </ul>
    </div>
  </body>
</html>
