@import "tailwindcss";
@plugin "@tailwindcss/typography";


:root {
  --background: #ffffff;
  --foreground: rgb(13, 13, 13);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #212121;
    --foreground: #ededed;
  }
  pre {
    background: transparent;
  }
}

@layer components {
  .code-header {
    @apply flex items-center justify-between gap-2;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  max-width: 78ch !important;
}

body pre {
  box-shadow: inset 0 0 0.1em rgba(0, 0, 0, 0.1);
}

body code {
  border-radius: 0.3em;
  font-family: var(--font-mono);
  font-size: 0.9em;
  padding: 1.6 rem;
}