@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: rgb(13, 13, 13);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(0.21 0.034 264.665);
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: light) {
  body pre, pre code.hljs {
    background: oklch(0.97 0.001 106.424);
  }
}

@layer components {
  .code-header {
    @apply flex items-center justify-between gap-2;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  max-width: 100%;
  width: 100%;
}

@font-face {
  font-family: 'Handlee';
  src: url('/handlee-regular.ttf') format('truetype');
}

.blogname {
  font-family: 'Handlee', sans-serif;
}