<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trinh Nguyen's Blog - Vespaiach</title>
    <link rel="stylesheet" href="/main.css" />
    <script type="module" async>
      const isDarkMode = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;
      if (isDarkMode) {
        document.head.insertAdjacentHTML('beforeend', '<link rel="stylesheet" href="/prism-ocodia.css" />');
      } else {
        document.head.insertAdjacentHTML('beforeend', '<link rel="stylesheet" href="/prism-coy.css" />');
      }
    </script>
  </head>
  <body class="prose prose-stone lg:prose-xl dark:prose-invert w-full p-0 m-0">
    <main class="max-w-3xl mx-auto w-full px-4 py-6">
      <a href="/" class="no-underline"><small>← back</small></a>
      <h1 className="!mt-3"><%- post.title %></h1>
      <article><%= post.content %></article>
      <a href="/" class="no-underline"><small>← back</small></a>
    </main>
    <script src="prism.js"></script>
  </body>
</html>
